@use '../../helpers/index' as *;
@use '../../variables' as *;

.comments {

  &__list {
    overflow-y: auto;
    margin-right: rem(-10);
    padding-right: rem(10);
    margin-bottom: rem(20);
  }

  &__item {
    background: $color-dark;
    padding: rem(10);
    border-radius: $radius-medium;
    column-gap: rem(10);

    &:not(:last-child) {
      margin-bottom: rem(10);
    }

    &.is-active {
      border: $border-accent;
    }
  }

  &__avatar {
    @include square(50);

    background: $color-accent;
    border-radius: 50%;
    user-select: none;
  }

  &__content {
    width: 100%;
  }

  &__name {
    @include fluid-text(18, 14);

    margin-bottom: rem(2);
  }

  &__date {
    @include fluid-text(14, 12);

    opacity: .6;
    margin-bottom: rem(3);
    column-gap: rem(10);
  }

  &__empty {
    margin-bottom: rem(20);
  }

  &__dots {
    @include square(40);
  }

  &__form {
    bottom: 0;

    .label {
      margin-bottom: rem(15);
    }
  }

  &__input {
    background: var(--color-dark-alt);
  }

  &__btn-bar {
    column-gap: rem(10);
  }
}