@use '../../helpers/index' as *;
@use '../../variables' as *;

.create {
  padding-top: rem(10);

  &__btn-bar {
    column-gap: rem(20);
    margin-top: rem(50);

    &.position-sticky {
      top: 0;
      background: $color-dark-alt;
    }
  }

  &__block {
    margin-block: rem(50);
  }

  &__textarea {
    resize: none;
    min-height: rem(100);
    height: auto;
    overflow: hidden;
  }

  &__close {
    @include square(40);
    @include flex-center();

    padding: 0;
    border-radius: 50%;
    top: rem(-20);
    background: var(--color-dark-alt);
    right: fluid(150, 140);
    rotate: 0deg;

    &.is-active {
      rotate: 180deg;
    }

    svg {
      width: rem(20);
      height: auto;
    }
  }

  &__remove {
    background: $color-dark-alt;
    top: rem(-20);
    right: rem(15);
  }

  &__technologies {

    &-list {
      height: rem(400);
      overflow-y: auto;
    }
  }

  &__local {

    &-btn {
      column-gap: rem(10);
      text-transform: uppercase;
    }
  }

  &__label {

    &.textarea {
      padding-left: rem(20);

      .label__text {
        margin-left: rem(20);
      }
    }
  }

  &__handler {
    @include abs-y;
    @include flex-center();

    left: rem(-10);
    height: 100%;

    svg {
      @include square(30);

      pointer-events: none;
    }
  }
}