@use '../../helpers/index' as *;
@use '../../variables' as *;

.create {
  padding-top: rem(10);

  &__btn-bar {
    column-gap: rem(20);
    margin-bottom: rem(20);
    margin-top: rem(50);

    &.position-sticky {
      top: 0;
      margin-bottom: rem(40);
      background: $color-dark-alt;
    }
  }

  &__block {
    margin-block: rem(50);
  }

  &__textarea {
    resize: none;
    min-height: rem(100);
    height: auto;
    overflow: hidden;
  }

  &__remove {
    background: $color-dark-alt;
    top: rem(-20);
    right: rem(15);
  }

  &__technologies {
    margin-bottom: rem(20);

    &-list {
      height: rem(400);
      overflow-y: auto;
    }
  }

  &__local {

    &-title {
      margin-bottom: rem(10);
    }

    &-btn {
      column-gap: rem(10);
      text-transform: uppercase;
    }
  }

  &__label-container {
    &:not(:last-child) {
      margin-bottom: rem(40);
    }
  }

  &__label {
    width: 100%;

    &.textarea {
      padding-left: rem(20);
    }
  }

  &__handler {
    @include abs-y;
    @include flex-center();

    left: rem(-10);
    height: 100%;

    svg {
      @include square(30);

      pointer-events: none;
    }
  }
}