@use '../../helpers/index' as *;
@use '../../variables' as *;

.home {
  width: 100%;

  &__inner {
    width: 100%;
  }

  &__header {
    height: fluid(80, 60);
    min-height: fluid(80, 60);
    border-bottom: $border-light-alt;
    margin-bottom: fluid(40, 20);
  }

  &__user {
    @include square($button-size);

    &-sync {
      @include square(18);
      @include flex-center();

      right: 0;
      bottom: 0;
      background: $color-accent;
      border-radius: 50%;
    }
  }

  &__content-header, &__main {
    padding-inline: $container-padding-x;
  }

  &__content {
    height: 100vh;
    width: 100%;
    overflow: hidden;
  }

  &__main {
    overflow-x: hidden;
    overflow-y: auto;
    padding-bottom: rem(20);
    height: 100%;
    width: 100%;
    position: relative;
  }
}