@use '../../helpers/index' as *;
@use '../../variables' as *;

.item {

  &__pod-title {
    border-bottom: $border-light-alt;
    width: fit-content;
  }

  &__text {
    line-height: 180%;
    word-wrap: break-word;
    white-space: pre-wrap;
  }

  &__comment {
    white-space: pre-wrap;
    color: $color-accent;
  }

  &__code {
    @include fluid-text(20, 18);

    background: $color-dark;
    padding: rem(10);
    border-radius: $radius-regular;
    position: relative;

    pre {
      white-space: pre-wrap;
      word-break: break-word;
      overflow-wrap: anywhere;
    }

    button {
      right: rem(10);
      top: rem(-20);
      background: $color-dark-alt;
    }
  }

  &__date {
    column-gap: rem(60);

    &-item {
      column-gap: rem(10);
    }
  }

  &__up {
    @include fluid-square(70, 50);

    background: $color-light-alt;
    border-radius: 50%;
    rotate: 90deg;
    bottom: rem(10);
    right: rem(30);
    color: $color-dark-alt;
    opacity: 0.75;
  }
}