@use '../../helpers/index' as *;
@use '../../variables' as *;

.item {

  &__title {
    margin-bottom: rem(20);
  }

  &__pod-title {
    margin-bottom: rem(10);
    border-bottom: $border-light-alt;
    width: fit-content;
  }

  &__text {
    line-height: 180%;
  }

  &__code {
    @include fluid-text(20, 18);

    white-space: pre-wrap;
    background: $color-dark;
    padding: rem(10);
    border-radius: $radius-regular;
  }

  &__comment {
    color: $color-accent;
  }
}