@use '../../helpers/index' as *;
@use '../../variables' as *;

.sync {

  &__btn {

    &.all {
      margin-bottom: rem(15);
    }
  }

  &__list {
    max-height: 60vh;
    overflow-y: auto;
    padding-right: rem(10);
  }

  &__item {
    border: $border-light-alt;
    padding: rem(10);
    border-radius: $radius-medium;
  }
}