@use '../../helpers/index' as *;
@use '../../variables' as *;

.textbook {

  &__title {
    margin-bottom: fluid(40, 20);
  }

  &__tabs {
    column-gap: rem(20);
    top: 0;
    margin-bottom: rem(10);
    background: $color-dark-alt;
    padding-bottom: rem(10);

    &-item {
      border-radius: $radius-regular;
      line-height: 1;
      width: auto !important;

      button {
        user-select: none;

        &.is-active {
          pointer-events: none;
          border-color: $color-accent;
          color: $color-accent;
        }
      }
    }
  }

  &__btn {
    @include square(40);

    &:disabled {
      filter: opacity(0.5);
      pointer-events: none;
    }

    &.textbook__next {
      rotate: 180deg;
    }
  }
}