@use '../../helpers/index' as *;
@use '../../variables' as *;

.textbook {

  &__content {
    margin-bottom: rem(30);
  }

  &__search {

    &-btn {
      margin-bottom: rem(20) !important;

      svg {
        width: rem(25);
        height: auto;
      }

      span {
        margin-right: rem(5);
      }
    }

    &-input {
      margin-bottom: rem(20);
    }

    &-list {
      max-height: rem(400);
      overflow-y: auto;
      padding-right: rem(10);
    }

    &-item {
      border: $border-light-alt;
      padding: rem(10);
      border-radius: $radius-regular;
      transition-duration: $transition-duration;

      &:not(:last-child) {
        margin-bottom: rem(10);
      }

      @include hover {
        color: $color-accent;
        border-color: inherit;
      }

      &.is-active {
        color: $color-accent;
        border-color: inherit;
        pointer-events: none;
      }
    }
  }

  &__title {
    margin-bottom: fluid(40, 20);
  }

  &__tabs {
    column-gap: rem(20);
    top: 0;
    margin-bottom: rem(10);
    background: $color-dark-alt;
    padding-bottom: rem(10);

    &-item {
      border-radius: $radius-regular;
      line-height: 1;
      width: auto !important;

      button {
        user-select: none;

        &.is-active {
          pointer-events: none;
          border-color: $color-accent;
          color: $color-accent;
        }
      }
    }
  }

  &__btn {
    @include square(40);

    &:disabled {
      filter: opacity(0.5);
      pointer-events: none;
    }

    &.textbook__next {
      rotate: 180deg;
    }
  }
}