@use '../../helpers/index' as *;
@use '../../variables' as *;

.user-card {

  &__top {
    --gap: 20px;

    margin-bottom: rem(30);
    flex-wrap: nowrap;
  }

  &__btn-bar {
    column-gap: rem(20);
  }

  &__btn {
    width: 50%;
  }

  &__img-container {
    aspect-ratio: 1;

    @include hover {
      button {
        opacity: 1;
      }
    }

    button {
      @include abs-center;
      @include flex-center();

      width: 100%;
      height: 100%;
      background: rgba(0,0,0,.4);
      opacity: 0;
      transition-duration: $transition-duration;
    }

    svg {
      width: 100%;
      height: 100%;
    }
  }

  &__loading {
    @include abs-center;

    z-index: 1000;
    color: $color-accent;
  }

  &__edit {
    @include square(80);
  }

  &__info {

    div:nth-child(1) {
      flex-grow: 1;
    }
  }

  &__name {
    @include fluid-text(20, 18);

    &:not(:last-child) {
      margin-bottom: rem(20);
    }
  }

  &__sync {
    @include square($button-size);

    top: rem(40);
    right: rem(-25);
    background: $color-dark;
    font-size: rem(28);
    color: $color-accent;
    border-color: $color-accent;
  }
}