@use 'helpers/index' as *;

$font-family-base: 'Inter', sans-serif;

:root {
  --color-light: #ebeced;
  --color-light-alt: #cccfd2;
  --color-dark: #3d4b56;
  --color-dark-alt: #5f6d78;
}

[data-theme="light"] {
  --color-light: #3d4b56;
  --color-light-alt: #5f6d78;
  --color-dark: #cccfd2;
  --color-dark-alt: #ebeced;
}

$color-light: var(--color-light);
$color-light-alt: var(--color-light-alt);
$color-dark: var(--color-dark);
$color-dark-alt: var(--color-dark-alt);
$color-accent: #fe7971;
$color-success: #59eb68;

$border-dark: 1px solid $color-dark;
$border-dark-alt: 1px solid $color-dark-alt;
$border-accent: 1px solid $color-accent;
$border-light: 1px solid $color-light;
$border-light-alt: 1px solid $color-light-alt;

$radius-big: rem(100);
$radius: rem(52);
$radius-medium: rem(16);
$radius-regular: rem(8);
$radius-small: rem(4);

$container-width: rem(1920);
$container-padding-x: fluid(50, 25);

$transition-duration: 0.2s;
$transition-duration-fast: 0.1s;

$position-size: rem(20);
$button-size: 50;