@use '../helpers/index' as *;
@use '../variables' as *;

.absolute {

  &.is-left {
    height: 0;

    .absolute__content {
      left: rem(-50);
    }
  }

  &.is-left-center {
    height: 100%;

    .absolute__content {
      @include abs-y;

      right: 100%;
    }
  }

  &:not(.is-left):not(.is-left-center) {
    .absolute__content {
      @include abs-x;
    }
  }

  &__content {
    z-index: 1001;
    background-color: color-mix(in srgb, var(--color-dark) 60%, transparent);
    backdrop-filter: blur(3px);
    border-radius: $radius-regular;
    padding: rem(20);

    &-item {
      &:not(:last-child) {
        margin-bottom: rem(10);
      }
    }
  }
}