@use '../helpers/index' as *;
@use '../variables' as *;

.message {
  @include abs-x;

  top: -100%;
  background-color: color-mix(in srgb, var(--color-light) 30%, transparent);
  backdrop-filter: blur(1px);
  padding: rem(10) rem(20);
  border-radius: $radius-medium;
  transition-duration: $transition-duration;

  &.is-active {
    top: rem(10);
  }
}