@use '../helpers/index' as *;
@use '../variables' as *;

.navigation {
  top: $position-size;
  left: $position-size;
  gap: rem(20);

  &__btn {

    &.back, &.reload {
      svg {
        @include square(30);
      }

      @include hover {
        color: $color-accent;
      }
    }

    &.back {
      @include fluid-text(20, 18);

      column-gap: rem(5);
    }

    &.reload {
      display: inline-flex;
    }

    &.theme, &.online {

      svg {
        @include square(30);
      }
    }

    .online {
      column-gap: rem(5);
      fill: currentColor;

      svg {
        @include square(30);
      }
    }
  }

  &__loading {
    @include abs-center;
  }
}