@use '../helpers/index' as *;
@use '../variables' as *;

.search {

  &.is-active {
    column-gap: rem(5);

    .search__input {
      width: rem(250);
    }
  }

  &:not(.is-active) {

    .search__input {
      padding: 0;
    }
  }

  svg {
    @include square(30);
  }
  
  &__input {
    transform-origin: left;
    transition: width $transition-duration ease, transform $transition-duration ease;
    width: 0;
    display: inline-block;
  }
}