@use '../helpers/index' as *;
@use '../variables' as *;

.skeleton {
  width: 100%;
  overflow: hidden;
  height: 100%;
  position: relative;

  .line {
    position: relative;
    overflow: hidden;

    &__background {
      border-radius: $radius-medium;
      background: $color-dark;
    }
  }

  .h-20 {
    height: rem(20);
  }

  .h-30 {
    height: rem(30);
  }
}

@keyframes loadSkeleton {
  0% {
    left: -10%;
  }
  100% {
    left: 110%;
  }
}

.skeleton-app {
  @include flex-center();

  flex-direction: column;
  row-gap: rem(20);

  svg {
    width: 12%;
    height: auto;
    animation: load 2s infinite linear;

    @keyframes load {
      0% {
        scale: 1;
      }
      50% {
        scale: 1.2;
      }
      100% {
        scale: 1;
      }
    }
  }
}

.skeleton-default-list {
  --gap: 30px;

  height: auto;

  &__item {
    padding: rem(20);
    border: $border-light-alt;
    border-radius: $radius-medium;
    height: fit-content;
    position: relative;
    overflow: hidden;

    &::before {
      content: '';
      position: absolute;
      height: 100%;
      top: 0;
      background: $color-light-alt;
      box-shadow: 0 0 rem(20) rem(10) $color-light-alt;
      animation: loadSkeleton 1.5s infinite linear;
      z-index: 1;
    }
  }

  &__like {
    @include square(30);

    top: rem(10);
    right: rem(10);
    border-radius: 50%;
    background: $color-dark;
  }

  &__title {
    margin-bottom: rem(10);
    border-bottom: $border-light-alt;
    padding-bottom: rem(5);

    div {
      width: 70%;
    }
  }

  &__date {
    margin-bottom: rem(10);
    width: 100%;
  }

  &__tech-title {
    margin-bottom: rem(10);
    width: 60%;
  }

  &__technologies {
    --gap: 10px;

    li {
      border-radius: $radius-regular;
      background: $color-dark;
    }
  }
}

.skeleton-default-item {

  .line {

    &::before {
      content: '';
      position: absolute;
      height: 100%;
      top: 0;
      background: $color-light-alt;
      box-shadow: 0 0 rem(20) rem(10) $color-light-alt;
      animation: loadSkeleton 1.5s infinite linear;
      z-index: 1;
    }
  }

  &__title {
    margin-bottom: rem(20);
  }

  &__text {
    margin-bottom: rem(10);
  }

  &__code {
    height: rem(200);
    margin-bottom: rem(10);
  }
}