@use '../helpers/index' as *;
@use '../variables' as *;

.sort {
  background: transparent;
  border-radius: $radius-regular;
  overflow: hidden;

  &::-webkit-scrollbar { display: none; }
  scrollbar-width: none;
  -ms-overflow-style: none;

  select {
    padding-inline: rem(10) rem(30);
    border: $border-light-alt;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    &:focus {
      outline: none;
      border-color: $color-accent;
    }

    option {
      background: $color-dark;
    }
  }

  i {
    @include square(20);
    @include abs-y;

    right: rem(8);
    z-index: -1;
  }
}