@use '../helpers/index' as *;
@use '../variables' as *;

.toggle-button {
  width: rem(70);
  height: rem(40);
  border: $border-light-alt;
  border-radius: $radius;
  padding-inline: rem(2);
  transition-duration: $transition-duration;

  &.is-accent {
    background: $color-light;
  }

  &__btn {
    aspect-ratio: 1;
    height: 90%;
    background: $color-light;
    border-radius: 50%;
    transform: translateX(0);
    transition-duration: $transition-duration;

    &.is-active {
      transform: translateX(calc(100% - 4px));

      &.is-accent {
        background: $color-accent;
      }
    }
  }
}